#### Covert file .dat to csv

In [14]:
import csv

# read flash.dat to a list of lists
datMovies = [i.strip().split('::') for i in open("./data/ml-1m/movies.dat", encoding="latin-1").readlines()]
datRatings = [i.strip().split('::') for i in open("./data/ml-1m/ratings.dat", encoding="latin-1").readlines()]
fieldsRatings = ['UserID', 'MovieID', 'Rating', 'Timestamp'] 
fieldsMovies = ['MovieID', 'Title', 'Genres'] 

# write it as a new CSV file
with open("./data/ml-1m/movies.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerow(fieldsMovies)
    writer.writerows(datMovies)

with open("./data/ml-1m//ratings.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerow(fieldsRatings)
    writer.writerows(datRatings)

#### Read file csv

In [103]:
import pandas as pd
dfMovies = pd.read_csv("./data/ml-1m/movies.csv",sep=",", encoding="latin1", engine='python')
dfRatings = pd.read_csv("./data/ml-1m/ratings.csv",sep=",", encoding="latin1", engine='python')

#### Connect Mysql

In [2]:
import mysql.connector

db_connection = mysql.connector.connect(
    host='10.10.0.100',
    user="root",
    password="1",
    database="MovieLens")
db_cursor = db_connection.cursor()
# db_cursor.execute("CREATE DATABASE MovieLens;")
# db_cursor.execute("USE MovieLens;")

- create table

In [107]:
db_cursor.execute("CREATE TABLE movies \
    (MovieID INT AUTO_INCREMENT PRIMARY KEY,\
    Title VARCHAR(255),\
    Genres VARCHAR(255))")

db_cursor.execute("CREATE TABLE ratings (\
    ID INT AUTO_INCREMENT PRIMARY KEY, \
    UserID INT, \
    MovieID int, Rating int NOT NULL, \
    Timestamp int NOT NULL)")

#### Insert data movies

In [108]:
dfMovies = dfMovies.drop(['MovieID'], axis=1)

In [110]:
dataInsertMovies = ''

for i in dfMovies.index:
    if(i == len(dfMovies)-1):
        dataInsertMovies += '("' + dfMovies.loc[i]['Title'] + '" , "' + dfMovies.loc[i]['Genres'] +'") '
    else:
        dataInsertMovies += '("' + dfMovies.loc[i]['Title'] + '" , "' + dfMovies.loc[i]['Genres'] +'"), '

In [111]:
db_cursor.execute("INSERT INTO movies (Title, Genres) \
VALUES " + dataInsertMovies + ";")

In [112]:
db_connection.commit()

#### Insert data ratings

In [113]:
dataInsertRatings = ''

for i in dfRatings.index:
    if(i == len(dfRatings)-1):
        dataInsertRatings += '("' + str(dfRatings.loc[i]['UserID']) + '" , "' \
                                 + str(dfRatings.loc[i]['MovieID']) + '" , "' \
                                 + str(dfRatings.loc[i]['Rating']) + '" , "' \
                                 + str(dfRatings.loc[i]['Timestamp']) +'") '
    else:
        dataInsertRatings += '("' + str(dfRatings.loc[i]['UserID']) + '" , "' \
                                 + str(dfRatings.loc[i]['MovieID']) + '" , "' \
                                 + str(dfRatings.loc[i]['Rating']) + '" , "' \
                                 + str(dfRatings.loc[i]['Timestamp']) +'"), '

In [114]:
db_cursor.execute("INSERT INTO ratings (UserID, MovieID, Rating, Timestamp) \
VALUES " + dataInsertRatings + ";")
# db_connection.commit()

In [115]:
db_connection.commit()